<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>181658751987-df8tfbvq1h7f09qem6en8ecq8c0d15hr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.181658751987-df8tfbvq1h7f09qem6en8ecq8c0d15hr</string>
	<key>API_KEY</key>
	<string>AIzaSyCpi6C5XlLmKG0ejFZPYDDvYb34ky6_zNA</string>
	<key>GCM_SENDER_ID</key>
	<string>181658751987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterGoogleFacebook</string>
	<key>PROJECT_ID</key>
	<string>authentication--fb-bee3c</string>
	<key>STORAGE_BUCKET</key>
	<string>authentication--fb-bee3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181658751987:ios:e8ce653bfbf449b4067886</string>
</dict>
</plist>